Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  modernize-*,
  performance-*,
  readability-*,
  -modernize-use-trailing-return-type,
  -readability-magic-numbers,
  -readability-identifier-length,
  -bugprone-easily-swappable-parameters,
  -performance-enum-size

WarningsAsErrors: ''
HeaderFilterRegex: 'include/.*'

CheckOptions:
  # _prefix convention for private members
  - key: readability-identifier-naming.PrivateMemberPrefix
    value: '_'
  - key: readability-identifier-naming.PrivateMemberCase
    value: lower_case
  - key: readability-identifier-naming.ProtectedMemberPrefix
    value: '_'
  - key: readability-identifier-naming.ProtectedMemberCase
    value: lower_case
